<div class="row my-2 p-2 rounded border border-3 border-danger bg-light align-items-center">
  <div class="col-md-2 col-6">
    <div><p class="fw-lighter">Odebrano: </p> </div>
    <div><%= request.created_at.strftime("%d/%m/%Y") %></div>
  </div>
  <div class="col-md-2 col-6">
    <div><p class="fw-lighter">Nadawca: </p></div>
    <div><%= request.requester.account_number %></div>
  </div>
  <div class="col-md-5 col-6">
    <div><p class="fw-lighter">Tytuł: </p> </div>
    <div><%= request.name %></div>
  </div>
  <div class="col-md-1 col-6">
    <div><p class="fw-lighter">Kwota: </p> </div>
    <div><%= request.amount %></div>
  </div>
  <div class="col-md-2 col-2">
    <div class=" float-end">


        <%= link_to "Zrealizuj", new_operation_path(receiver: request.requester.account_number , amount: request.amount),  class: "btn btn-success" %>
        <%= link_to "Usuń", request_path(request), method: :delete, class: "btn btn-danger" %>

    </div>
  </div>
</div>
