
  <div class="container" style="margin-left: auto; margin-right: auto; width: 25em;">
    <div class="row d-inline-flex border p-4 my-3 border-3 rounded border-secondary">

      <%= form_with url: "/requests", method: :post, local: true, html: {:class => "col " } do |form| %>
        <div class="card " style="border: none;">
          <div class="card-head">
            <h3>Wyślij prośbę o przelew:</h3>
          </div>
          <div class="card-body">
            <div class="mb-3 " style="width: 16em;">
              <%= form.label :target_id, "Numer konta odbiorcy:  +48"%>
              <%= form.text_field :target_id, class: "form-control" %>
            </div>
            <div class="mb-3 " style="width: 16em;">
              <%= form.label :amount, "   kwota:"%>
              <%= form.text_field :amount, class: "form-control" %>
            </div>
            <div class="mb-3 " style="width: 16em;">
                <%= form.label :name, "Tytuł: "%>
                <%= form.text_area :name, class: "form-control" %>
            </div>
            <div class="mb-3" style="width: 12em;">
              <%= form.label :google_token, "Token weryfikacji google: "%>
              <%= form.text_field :google_token,  class: "form-control"%>
             </div>
            <div class="mb-3 mt-4">
              <%= form.submit "Wyślij", data: { confirm: 'Potwierdź wysłanie zapytania' }, class: "btn btn-dark" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
