<h1>Dokończ tworzenie konta</h1>

</br>
<%= form_with(model: account, local: true, method: :post) do |form| %>
  <div class="field">
    <%= form.label :account_number,  "Numer telefonu: +48"%>
    <%= form.text_field :account_number  %>
    </br>
    <%= form.label :first_name,  "Imię: "%>
    <%= form.text_field :first_name  %>
    </br>
    <%= form.label :last_name,  "Nazwisko: "%>
    <%= form.text_field :last_name  %>
  </div>

  <br>
 <p>Zeskanuj aplikacją Google Authenticator lub przepisz kod:</p>
  <%= image_tag(@qr) %>
  <%= current_user.google_secret %>

  <p>Przepisz token weryfikacji z aplikacji Googla Authenticator aby dokończyć tworzenie konta</p>
  <%= form.label :google_token,  "token: "%>
  <%= form.text_field :google_token  %>
  <br>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
